In [7]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

In [8]:
data = pd.read_csv('data_clean.csv')
data.head()

,distance,consume,temp_inside,temp_outside,gas_type,AC,rain,sun,temp_diff,fuel_used,cost_of_trip,trip_in_hour,avg_speed
0,28.0,5.0,21.5,12,E10,0,0,0,9.5,1.4000,2.612,0.433333,64.615385
1,12.0,4.2,21.5,13,E10,0,0,0,8.5,0.5040,0.940,0.500000,24.000000
2,11.2,5.5,21.5,15,E10,0,0,0,6.5,0.6160,1.149,0.633333,17.684211
3,12.9,3.9,21.5,14,E10,0,0,0,7.5,0.5031,0.939,0.600000,21.500000
4,18.5,4.5,21.5,15,E10,0,0,0,6.5,0.8325,1.553,0.766667,24.130435

## The Null Hypothesis is that consumption of each fuel are the same.

In [10]:
stat, pval = ttest_ind(data[data.gas_type == 'E10'].fuel_used,data[data.gas_type == 'SP98'].fuel_used)
print('The p_value of the test is:', pval)
print('The stat value of the test is:', stat)

The p_value of the test is: 0.27628772437596216
The stat value of the test is: 1.0894655358183762

**The p_value is over the threshold of 0.05, so we can accept our hypothesis that the two fuel types are consumed almost equally**

### Our second hypothesis is that the fuel tyoes cost about the same per trip

In [11]:
stat, pval = ttest_ind(data[data.gas_type == 'E10'].cost_of_trip, data[data.gas_type == 'SP98'].cost_of_trip)
print('The p_value of the test is:', pval)
print('The stat value of the test is:', stat)

The p_value of the test is: 0.5031075278083218
The stat value of the test is: 0.6699216775862715

**The p_value is over the threshold of 0.05 so we can accept the hypothesis that the two fuel types cost about the same per trip usage.**